@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: hsl(217, 54%, 11%);
  display: grid;
  place-items: center;
}
